.login {
  text-align: center;
  margin-top: 100px;
}

.login button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #1DB954;
  color: white;
  border: none;
  cursor: pointer;
}

.events {
  margin: 20px;
}

.events ul {
  list-style: none;
}

.events li {
  margin-bottom: 20px;
}

.events h2 {
  font-size: 24px;
  color: #333;
}
